* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
}

:root {
    --red-color: #ec362d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
   
}

/* CABEÇALHO */
header {
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TEXTOS */
h1 {

    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: white;
    position: absolute;
    bottom: 7px;
    z-index: 1;
    text-align: left;
    padding-left: 18px;
    max-height: 66px;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  */
.home-page {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 69px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 340px;
    margin: 0px 5% 0px 5%;
}

/* MEUS QUIZ */
.my-quiz {
    margin: 31px 0px 35px 0px;
    width: 100%;
    min-width: 340px;
}

.no-quiz {
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-quiz p {
    width: 250px;
    height: 107px;
    font-size: 20px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-quiz span {
    width: 151px;
    height: 40px;
    border: 1px dashed var(--red-color);
    border-radius: 50px;
    color: var(--red-color);
    font-size: 21px;
    line-height: 40px;
    text-align: center;
}

.my-quiz-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: var(--red-color);
}

/* Todos os Quizzes */

.all-quiz {
    width: 100%;
    min-width: 340px;
}

.quiz-container {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quiz {
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    position: relative;
}

.quiz::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.quiz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

/* CRIAR QUIZ */

.create-page {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
    padding-top: 38px;
    background-color: #FAFAFA;
}


.create-input {
    width: 96%;
    min-width: 340px;
    max-width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: black;
    padding-left: 14px;
    outline: none;
}

.create-input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.next-button {
    font-family: 'Roboto';
    width: 86vw;
    min-width: 324px;
    max-width: 367px;
    min-height: 54px;
    background: var(--red-color);
    border-radius: 15px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    text-align: center;
    position: relative;
}


/* PRIMEIRA PAGINA DE CRIAÇAO */
.create-page.one {
    height: calc(100% - 69px);
    box-sizing: content-box;
}

.inputs {
    width: 100vw;
    min-width: 375px;
    max-width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

/* SEGUNDA PAGINA DE CRIAÇAO */
.create-page.two {
    height: 100%;

}

.inputs2 {
    height: fit-content;
    width: 100vw;
    min-width: 375px;
    max-width: 600px;
}

.question {
    min-width: 375px;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: relative;
}

.question div {
    width: 96%;
    min-width: 340px;
    max-width: 564px;
}

.question input {
    width: 100%;
}

.inputs2 li>div:nth-child(1),
.inputs2 li>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;
}

.incorrects {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.incorrects :nth-child(2n+1):not(h2) {
    margin-bottom: 32px;
    margin-top: 14px;

}

.incorrects h2 {
    margin-bottom: 14px;
}

.edit-question {
    width: 26px;
    height: 23px;
    position: absolute;
    right: 17px;
}

/* TERCEIRA TELA DE CRIAÇÃO */

.create-page.three {
    height: 100%;
}

.level {
    width: 100vw;
    min-width: 375px;
    max-width: 600px;
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: relative;
}

.text-inputs {
    width: 96%;
    min-width: 340px;
    max-width: 564px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-inputs h2 {
    align-self: flex-start;
}

.level-description {
    height: 175px;
    font-family: 'Roboto';
    font-style: normal;
}

.level.hide input,
.level.hide textarea,
.question.hide input {
    display: none;
}


/* QUARTA PAGINA DE CRIAÇAO */
.create-page.four {
    height: calc(100vh - 69px);
}

.div-img img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

.div-img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    margin-top: 29px;
}

.div-img::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.final-button {
    width: 220px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: var(--red-color);
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    margin-top: 24px;
}

.home-button {
    width: 219.64px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
    border: none;
    margin-top: 9px;
    background-color: #FAFAFA;
}

/* /////////////// BONUS ///////////////// */

/* LOADING */
.loading {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
    padding-top: 200px;
    background-color: #FAFAFA;
    z-index: 10;

}
.loading img{
    width: 100px;
}

.loading p {
    font-size: 25px;
    line-height: 29px;
    color: var(--red-color);
}

/* REMOVER QUIZ */

.remove{
    width: 42px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: var(--red-color);
    border-radius: 10px 0px 0px 11px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove ion-icon{
    font-size: 22px;
    color: white;
   
}


/* TELA DE EXIBIÇÃO DE QUIZ  */
.quiz-page {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 69px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    min-width: 340px;
}

.quiz_title {
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quiz_title::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    /* border-radius: 5px; */
}

/* Acertar o tamanho dessa div */
/* .black_screen {
    width: 100%;
    height: 25%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
} */

.quiz_title img {
    width: 100%;
    height: 142px;
    position: relative;
}

.quiz_title p {
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

.quiz_head {
    width: 100%;
    margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.25);
}

.quiz_questions {
    width: 100vw;
    min-width: 375px;
    max-width: 759px;
    min-height: 280px;
    max-height: 676px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 24px 0px 28px;
}

.question_text {
    width: 90%;
    min-width: 340px;
    height: 10vh;
    min-height: 89px;
    max-height: 138px;
    background-color: #434CA0;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.question_text p {
    font-weight: 700;
    font-size: 19px;
    color: white;
    max-width: 90%;
}

.question_options {
    width: 90%;
    min-width: 340px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}


.question_section_container {
    display: flex;
    flex-direction: column;
    width:163px;
    height: fit-content;
    margin-bottom: 12px;
}

.question_section_container img {
    width:163px;
    /* max-width: 332px; */
    height: 113px;
    /* max-height: 175px; */

    margin-bottom: 6px;
}

.end_container{
    width: 90%;
    min-width: 340px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}
.opacity {
    opacity: 0.3;
    pointer-events: none;
}

.correct {
    color: #009C22;
}

.wrong {
    color: #FF0B0B;

}

.question_options p {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}


.question_section img {
    width: 100%;
}

.question.hide,
.level.hide {
    height: 74px;
    overflow: hidden;
    align-items: flex-start;
    padding-left: 17px;
    padding-top: 25px;
}

.question.hide input {
    display: none;
}

.hidden {
    display: none;
}



/* ///////// MEDIA QUERY //////////// */

@media (min-width: 540px) {

    .question_section_container {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: fit-content;
        margin-bottom: 12px;
    }
    
    .question_section_container img {
        width: 240px;
        /* max-width: 332px; */
        height: 167px;
        /* max-height: 175px; */
    
        margin-bottom: 6px;
    }





}

@media (min-width: 755px) {

    .quiz-container {
        justify-content: center;
    }

    .quiz {
        margin: 0px 7px 12px 7px;
    }

}

@media (min-width: 1100px) {

    .home-page {
        width: 72%;
        margin: 0px 14% 0px 14%;
    }

    .quiz-container {
        justify-content: space-between;
    }

    .quiz {
        margin: 0px 0px 12px 0px;
    }

    .create-page.four .div-img,
    .create-page.four img {
        width: 500px;
        height: 266px;
    }

    .create-page.four h3 {
        font-size: 23px;
        line-height: 27px;
        padding-bottom: 9px;
    }

    .question_section_container {
        display: flex;
        flex-direction: column;
        width: 332px;
        height: fit-content;
        margin-bottom: 12px;
    }
    
    .question_section_container img {
        width: 332px;
        height: 175px;
        margin-bottom: 6px;
    }
}




















































































































/* TELA DE EXIBIÇÃO DE QUIZ  */

/* .quiz-page {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 69px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    min-width: 340px;
    /* margin: 0px 5% 0px 5%; */
/* }

.quiz_title {
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quiz_title::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ;
}

.quiz_title img {
    width: 100%;
    height: 142px;
    position: relative;
}

.quiz_title p {
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

.quiz_head {
    width: 100%;
    margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.25);
}

.quiz_questions {
     height: 436px; 
    width: 100%;
    margin-right: 17px;
    margin-left: 18px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.question_text {
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 13px;
    margin-right: 17px;
    margin-left: 18px;
    padding: 20px;
}

.question_text p {
    font-weight: 700;
    font-size: 19px;
    color: white;
}

.question_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 17px;
    margin-left: 18px;
}

.question_section {
    display: flex;
    margin-right: 17px;
    margin-left: 18px;
}

.question_section_container {
    display: flex;
    flex-direction: column;
}

.question_section_container img {
     width: 364px;
    margin-bottom: 10px;
}

.opacity {
    opacity: 0.3;
}

.correct {
    color: #009C22;
}

.wrong {
    color: #FF0B0B;
}

.disable {
    pointer-events: none;
}

.question_options p {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 15px;
}


.question_section img {
    width: 100%;
}

.question.hide,
.level.hide {
    height: 74px;
    overflow: hidden;
    align-items: flex-start;
    padding-left: 17px;
    padding-top: 25px;
}

.question.hide input {
    display: none;
}

.hidden {
    display: none;
}  */

/* SEÇÃO DE RESULTADOS DO QUIZ  */

.quiz_results {
    width: 100%;
    margin-right: 17px;
    margin-left: 18px;
}

.result_title {
    background-color: #EC362D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-right: 17px;
    margin-left: 18px;
    padding: 20px;
}

.result_title p {
    font-weight: 700;
    font-size: 19px;
}

.result_image {
    width: 100%;
    height: 255px;
    margin-top: 9px;
    margin-bottom: 15px;
    padding-right: 17px;
    padding-left: 18px;
}

.result_message {
    font-weight: 700;
    font-size: 17px;
    margin-right: 17px;
    margin-left: 18px;
    margin-bottom: 19px;
}

.final-margin {
    margin-bottom: 66px;
}

