* {
    box-sizing: border-box;
}

:root {
    --red-color: #ec362d;
}

body {
    font-family: 'Roboto';
}

/* CABEÇALHO */
header {
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TEXTOS */
h1 {
    font-size: 37px;
    font-weight: 700;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

h3 {
    font-size: 19px;
    line-height: 22px;
    color: white;
    position: absolute;
    bottom: 7px;
    z-index: 1;
    text-align: left;
    padding-left: 18px;
    max-height: 66px;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  */
main {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 69px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 90%;
    min-width: 340px;
    margin: 0px 5% 0px 5%;
}

/* MEUS QUIZ */
.my-quiz {
    margin: 31px 0px 35px 0px;
    width: 100%;
    min-width: 340px;
}

.no-quiz {
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-quiz p {
    width: 250px;
    height: 107px;
    font-size: 20px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-quiz span {
    width: 151px;
    height: 40px;
    border: 1px dashed var(--red-color);
    border-radius: 50px;
    color: var(--red-color);
    font-size: 21px;
    line-height: 40px;
    text-align: center;
}

.my-quiz-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: var(--red-color);
}

/* Todos os Quizzes */

.all-quiz {
    width: 100%;
    min-width: 340px;
}

.quiz-container {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quiz {
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    position: relative;
}

.quiz::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.quiz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

/* CRIAR QUIZ */

.create-page {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
    padding-top: 38px;
    background-color: #FAFAFA;
}


.create-input {
    width: 340px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: black;
    padding-left: 14px;
    outline: none;
}

.create-input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.next-button {
    font-family: 'Roboto';
    width: 324px;
    min-height: 54px;
    background: var(--red-color);
    border-radius: 15px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    text-align: center;
    position: relative;
}


/* PRIMEIRA PAGINA DE CRIAÇAO */
.create-page.one {

    height: calc(100% - 69px);
}

.inputs {
    width: 375px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

/* SEGUNDA PAGINA DE CRIAÇAO */
.create-page.two {
    height: 100%;
}

.inputs2 {
    height: fit-content;
}

.question {
    width: 375px;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: relative;
}

.inputs2 li>div:nth-child(1),
.inputs2 li>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;
}

.incorrects {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.incorrects :nth-child(2n+1):not(h2) {
    margin-bottom: 32px;
    margin-top: 14px;

}

.incorrects h2 {
    margin-bottom: 14px;
}

.edit-question {
    width: 26px;
    height: 23px;
    position: absolute;
    right: 17px;
}

/* TERCEIRA TELA DE CRIAÇÃO */

.create-page.three{
    height: 100%;
}
.level{
    width: 375px;
    height:439px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 24px 0;
    margin-top: 29px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: relative;
}
.text-inputs {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text-inputs h2{
    align-self: flex-start;
}
.level-description {
    height: 175px;
}

.level.hide input, .level.hide textarea, .question.hide input {
    display: none;
}



















.question.hide, .level.hide {
    height: 74px;
    overflow: hidden;
    align-items: flex-start;
    padding-left: 17px;
    padding-top: 25px;
}

.question.hide input {
    display: none;
}

.hidden {
    display: none;
}

input:invalid {
    border: 2px solid var(--red-color);
}






































































































/* TELA DE EXIBIÇÃO DE QUIZ  */
.quiz-page {
    /* background-color: red; */
    background-color: #FAFAFA;
}

.quiz-head {
    width: 100%;
    margin-bottom: 24px;
}

.quiz-questions {
    /* height: 436px; */
    /* background-color: green;   */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.question-text {
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 13px;
    margin-right: 17px;
    margin-left: 18px;
    padding: 20px;

}

.question-text p {
    font-weight: 700;
    font-size: 19px;
    color: white;
}

.question-options {
    margin-right: 17px;
    margin-left: 18px;
}

.question-section {
    display: flex;
}

.question-section-container {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}

.question-section-container img{
    width: 100%;
    margin-bottom: 10px;
    
}

.opacity {
    /* display: none; */
    opacity: 0.3;
}

.green {
    color: #009C22;
}

.image-right {
    padding-left: 12px;
}

.image-left {
    padding-right: 12px;
}

.question-options p {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 15px;
}


.question-section img {
    width: 100%;
} 